@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primaryColor);
  }

  @media (max-width: 639px) {
    .custom-scrollbar::-webkit-scrollbar-track {
      border-radius: 3px;
    }

    .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: var(--borderColor);
    }
  }
}

:root {
  --background: #ffffff;
  --background2: #f2f2f2;
  --textColor: #171717;
  --descriptionColor: #6b7280;
  --primaryColor: #58cc02;
  --secondaryColor: #58a700;
  --borderColor: #d1d5db;
}

body {
  color: var(--textColor);
  background: var(--background);
  font-family: var(--font-inter);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--textColor) !important;
  -webkit-box-shadow: 0 0 0px 1000px #f3fff7 inset !important;
}

.button-primary {
  appearance: button;
  background-color: var(--secondaryColor);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-primary:after {
  background-clip: padding-box;
  background-color: var(--primaryColor);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-primary,
.button-primary:focus {
  user-select: auto;
}

.button-primary:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-primary:disabled {
  cursor: auto;
}

.button-primary:active {
  border-width: 4px 0 0;
  background: none;
}

.button-primary .limited-width {
  max-width: 150px !important;
}

.button-secondary .limited-width {
  max-width: 150px !important;
}

.button-secondary {
  appearance: button;
  background-color: var(--descriptionColor);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: var(--textColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-secondary:after {
  background-clip: padding-box;
  background-color: var(--background);
  border: solid var(--descriptionColor);
  border-radius: 16px;
  border-width: 1px 1px 1px;
  bottom: -1px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-secondary,
.button-secondary:focus {
  user-select: auto;
}

.button-secondary:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-secondary:disabled {
  cursor: auto;
}

.button-secondary:active {
  border-width: 4px 0 0;
  background: none;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fadeInOut 2.1s ease-in-out;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.navbar-menu li {
  position: relative;
  color: var(--borderColor);
}

.navbar-menu li:hover {
  color: var(--descriptionColor);
}

.navbar-menu li.active {
  color: var(--textColor);
}

.navbar-menu li.active::before {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primaryColor);
}

.grid-panel-avatars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
  grid-auto-rows: 1fr;
  gap: 16px;
  text-align: center;
}

.grid-panel-banners {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  gap: 16px;
  text-align: center;
}

.grid-shop-banners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 450px));
  grid-auto-rows: 1fr;
  gap: 16px;
}

.grid-room-sqares {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
  grid-auto-rows: 1fr;
  gap: 16px;
  text-align: center;
}

@media (max-width: 639px) {
  .grid-panel-avatars {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .grid-room-sqares {
    grid-template-columns: repeat(auto-fit, 100%);
    gap: 12px;
  }
}
